rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() { return request.auth != null; }
    function isOwner(userId) { return request.auth.uid == userId; }
    function isAdmin() { return request.auth.token.email == "contatogilborges@gmail.com"; }

    function isProOrAdmin() {
      let userDoc = get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data;
      return isAdmin() || (userDoc.keys().hasAll(['is_pro']) && userDoc.is_pro == true);
    }

    match /usuarios/{userId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated() && isOwner(userId);
      allow update: if isAuthenticated() && isOwner(userId) 
                    && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['saldo', 'is_pro'])); 
    }

    match /active_providers/{userId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && (isOwner(userId) || userId.startsWith("fake_"));
    }

    match /oportunidades/{opId} {
      allow read: if isAuthenticated() && (isProOrAdmin() || resource.data.created_at < request.time - duration.value(5, 'm'));
      allow write: if isAuthenticated() && isAdmin();
    }

    match /missoes/{missaoId} {
      allow read: if isAuthenticated(); 
      allow write: if isAuthenticated() && isAdmin();
    }

    match /chats/{chatId} {
      allow create: if isAuthenticated() && (request.auth.uid in request.resource.data.participants);
      allow read, update: if isAuthenticated() && (request.auth.uid in resource.data.participants || isAdmin());
      match /messages/{msgId} {
        allow read, write: if isAuthenticated() && (request.auth.uid in get(/databases/$(database)/documents/chats/$(chatId)).data.participants || isAdmin());
      }
    }
    
    match /produtos/{prodId} {
      allow read: if true;
      allow write: if isAuthenticated() && isAdmin();
    }
    
    match /{document=**} {
      allow read, write: if isAuthenticated() && isAdmin();
    }
  }
}
